/*
All rights reserved. Copyright Robert Roy 2017.
*/
/* 
    Created on : Sep 4, 2017, 4:15:33 PM
    Author     : Robert Roy <www.robertsworkspace.com>
*/
* {
    font-family: "Abel", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #2d3c49;
}

#name {
    padding: 0;
    margin-bottom: 0;
}

#profession {
    padding: 0;
    margin-top: 0;
    color: #2d3c49;
}

#portrait {
    padding: 10px 0 0 10px;
}

.section-header {
    color: #7d97ad;
}

.caption {
    margin: 6px 0 0 0;
}